
@{
    ViewBag.Title = "AddFromExcel";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
}



@using (Html.BeginForm("AddFromExcel", "Catalogy", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span><input type="file" name="excelfile" />
    <br />
    <span>Фото</span>    <input type="file" name="img" /><br>

    <select class="form-control" name="catalogy" id="catalogy">
        @foreach (var item in ViewBag.cat)
        {
            <option value="@item.id">@item.Name</option>
        }


    </select>
    <select class="form-control" name="nacenka" id="nacenka">
        <option value="1">Без скидок</option>
        <option value="2">10%</option>
        <option value="3">30%</option>
    </select>
    <input type="checkbox" name="OneImg" value="OneImg" id="OnImg" checked="checked" />

    <input type="submit" value="Import" />

}
<a href="@Url.Action("List","Catalogy",null,null)">Назад</a>