@model ESH.Models.Property
@{
    ViewBag.Title = "PropertyProductAdd";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
}

@using (Html.BeginForm("PropertyProductAdd", "Catalogy", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-10">
            <table>
                <tr>
                    <td>Наименование</td>
                    <td>Выбор</td>
                    <td>Значение</td>
                    <td><input type="text" value="@ViewBag.Product" name="prodid" /></td>
                </tr>
                <tr>
                    <td>@Html.DropDownListFor(model=>model.PropertyTypeId, ViewBag.Property_type as SelectList, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.DropDownListFor(model => model.PropertyValueId, ViewBag.property_Value as SelectList, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(m=>m.Value, new { htmlAttributes = new { @class = "form-control " } })</td>
                 
                </tr>
            </table>
            <input type="submit" value="Сохранить" />
        </div>
    </div>
}

