@{
    ViewBag.Title = "Доставка и Оплата  Как мы работаем ";
    ViewBag.Ket = "Доставка ноутбуком и компьютеров, продажа компьютеров, купить компьютер, Доставка компьютеров Ульяновск";
    ViewBag.Descroption = "Большой ассортимент электроники, цифровой и компьютерной техники, а так же товаров для дома, известных брендов в интернет-магазине Digital STORE по отличным ценам. Гарантия и сервис. Доставка! Digital STORE";
}


<section>
    <div class="container">
        <div class="row">
 
            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">Оплата заказа</h2>
                    <div class="single-blog-post">
              
                  
                     
                        <p>
                            Заказать и оплатить товар  в нашем интернет магазине Вы можете любым удобным способом:
                        </p> 
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#nal" data-toggle="tab">Наличными в магазине</a></li>
                            <li><a href="#cart" data-toggle="tab">Банковской картой онлайн</a></li>
                            <li><a href="#kredit" data-toggle="tab">Кредит</a></li>
                            <li><a href="#beznal" data-toggle="tab">Безналичный перевод</a></li>
                        </ul>

                        <div class="tab-content" style="padding:50px 0;">
                            <div class="tab-pane fade in active" id="nal">
                                <p>Оплата начными курьеру при получении заказа, можно только при условии наличии данного товара в магазине. При заказе товара оплата производится любым другим способом либо  в нашем магазине в 100% объеме, не включая стоимость доставки </p>
                            </div>
                            <div class="tab-pane fade" id="cart">
                                <p>Оплата банковскими картами осуществляется после проверки заказа менеджером интернет-магазина.</p>
                                <p>К оплате принимаются все виды платежных карточек VISA, за исключением Visa Electron. В большинстве случаев карта Visa Electron не применима для оплаты через интернет, за исключением карт, выпущенных отдельными банками. О возможность оплаты картой Visa Electron вам нужно выяснять у банка-эмитента вашей карты.</p>
                                <p>На сайте к оплате принимаются все виды MasterCard, за исключением Maestro.</p>
                                <ul>
                                    Для оплаты картой вам необходимо знать
                                    <li>•	номер вашей кредитной карты;</li>
                                    <li>•	cрок окончания действия вашей кредитной карты, месяц/год;</li>
                                    <li>•	CVV код для карт Visa / CVC код для Master Card:</li>
                                </ul>
                                <img src="~/images/Picture_cart_for_stipid.png" />
                                <p>Если на вашей карте код CVC / CVV отсутствует, то, возможно, карта не пригодна для CNP транзакций (т.е. таких транзакций, при которых сама карта не присутствует, а используются её реквизиты), и вам следует обратиться в банк для получения подробной информации.</p>
                            
                            <p>По кнопке "Перейти на сайт платежной системы СБЕРБАНК" Вы будете перенаправлены на платежный шлюз ОАО "Сбербанк России", где Вы сможете указать реквизиты Вашей банковской карты*. Соединение с платежным шлюзом и передача параметров Вашей пластиковой карты осуществляется в защищенном режиме с использованием 128-битного протокола шифрования SSL.


Если Банк-Эмитент вашей пластиковой карты поддерживает технологию безопасного проведения интернет-платежей Verified By VISA или MasterCard SecureCode, будьте готовы указать специальный пароль, необходимый для успешной оплаты.</P><img src="~/images/visa_mastercard.png" /></br>
                                <p>
                                Способы и возможность получения пароля для совершения интернет-платежа Вы можете уточнить в банке, выпустившем Вашу карту.
                                
При выборе формы оплаты с помощью банковской карты проведение платежа по заказу производится непосредственно после подтверждения его менеджером. После подтверждения заказа менеджером, Вы должны будете зайти в личный кабинет вашего заказа (по 20-значному уникальному номеру заказа, полученному при оформлении) и нажать на кнопку «Оплата банковской картой», при этом система переведёт Вас на страницу авторизационного сервера Сбербанка, где Вам будет предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего вы сможете вернуться в наш магазин кликом по кнопке "Вернуться в магазин". После возвращения в наш магазин, система уведомит Вас о результатах авторизации.
До получения успешного подтверждения платежа Ваш заказ будет находиться в режиме ожидания, после пяти дней ожидания получения оплаты заказ будет автоматически аннулирован. После успешного подтверждения платежа Ваш заказ будет переведен в режим доставки по указанному адресу. В случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.

На оформление платежа Сбербанком выделяется 20 минут, поэтому, пожалуйста, приготовьте Вашу пластиковую карту заранее. Если Вам не хватит выделенного на оплату времени или в случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.

*Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных системVisa Int. и MasterCard Europe Sprl.
</p>
                                <h4>Отмена заказа


</h4>
                                <p>При удалении товаров из оплаченного заказа или при аннулировании заказа целиком Вы можете заказать другой товар на такую же сумму, либо полностью вернуть всю сумму на карту с помощью Вашего менеджера.</p>
                            </div>
                            <div class="tab-pane fade" id="kredit">
                                Вы модите оформить любую покупки в кредит у нас в магащине либо на сайте <a href="~/home/credit">подробнее</a> 
                            </div>
                            <div class="tab-pane fade" id="beznal">
                                <p>Оплатить по квитанции в любом отделении Сбербанка или Банковским переводом на р/с для организаций</p>
                            </div>
                        </div>
              
                   
               
    
                </div><!--/blog-post-area-->

            </div>
        </div>
            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">Доставка</h2>
                    <div class="single-blog-post">
      


                   

            
                        <p>
                            Мы доставим Вам товар в любое удобное время, для этого при оформлении заказа Вам необходимо выбрать «Курьерскую доставку по городу», а также указать Адрес доставка. Стоимость доставка по городу будет составлять 250 р. Доставка по области рассчитывается отдельно, менеджером после оформления заказа. Обращаем ваше внимание, на то,  что крупногабаритный товар, а так же компьютеры в сборе и ноутбуки мы доставляем по городу бесплатно.
                        </p>
                        <p>
                            Если вы находитесь в другом регионе то, для Вас мы можем предложить услугу «Доставка в регионы РФ » стоимость и сроки доставки Вам необходимо уточнить у наших менеджеров.
                            Средняя стоимость такой доставки составляет, согласно тарифам ТК  700 р. Так же Вы можете заказать «Экспресс доставку» а также Доставку Почтой России
                        </p>

                    </div><!--/blog-post-area-->

                </div>
            </div>
    </div>
        </div>
</section>