@{
    ViewBag.Title = "Наш магазин интернет магазин цифровой и компьютерной техники по доступным ценам";
    ViewBag.Key = "Digital STORE Магазин компьютерой техники, Купить компьютер, Купить ноутбук, магазини комплектующих в Ульяновске, Купить Компьютер в Ульяновске";
    ViewBag.Descroption = "Большой ассортимент электроники, цифровой и компьютерной техники, а так же товаров для дома, известных брендов в интернет-магазине Digital STORE по отличным ценам. Гарантия и сервис. Доставка! Digital STORE";
}







<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Наши <strong>магазины</strong></h2>
              
                <div id="gmap" class="contact-map">
                    <a class="dg-widget-link" href="http://2gis.ru/ulyanovsk/firm/70000001024705119/center/48.59740018844605,54.3746209007012/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Ульяновска</a><div class="dg-widget-link"><a href="http://2gis.ru/ulyanovsk/center/48.597406,54.374432/zoom/16/routeTab/rsType/bus/to/48.597406,54.374432╎Digital Store, интернет-магазин?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Digital Store, интернет-магазин</a></div>
                    <script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script>
                    <script charset="utf-8">new DGWidgetLoader({"width":940,"height":500,"borderColor":"#a3a3a3","pos":{"lat":54.3746209007012,"lon":48.59740018844605,"zoom":16},"opt":{"city":"ulyanovsk"},"org":[{"id":"70000001024705119"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form">
                    <h2 class="title text-center">Обратная связь</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Имя">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" name="subject" class="form-control" required="required" placeholder="Тема обращения">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Ваш текст"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Отправить">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">Контакты</h2>
                    <address>
                        <p>Digital TECH Групп</p>
                        <p>г. Ульяновск, пр. Ген. Тюленева 2б ТЦ "РИМ" 3 этаж</p>
                        <p>Отдел Продаж</p>
                        <p>Тел.: +7 8422 726-293</p>
                        
                        <p>Email: digital@digitltech.ru</p>
                        <p><b>Время работы</b></p>
                        <ul>
                            <li>Пн-Чт: с 10:00 до 18:00</li>
                            <li>Пт-Сб: с 10:00 до 15:00</li>
                        </ul>
                    </address>
                    <div class="social-networks">
                        <h2 class="title text-center">Соц.сети</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://vk.com/digitltech" target="_blank"><i class="fa fa-vk"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->