
@{
    ViewBag.Title = "Кредит  - Покупай товар в кредит - Поку";
    ViewBag.Key = "Digital STORE Магазин компьютерой техники, Купить компьютер, Купить ноутбук, магазини комплектующих в Ульяновске, Купить Компьютер в Ульяновске";
    ViewBag.Descroption = "Большой ассортимент электроники, цифровой и компьютерной техники, а так же товаров для дома, известных брендов в интернет-магазине Digital STORE по отличным ценам. Гарантия и сервис. Доставка! Digital STORE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Кредит </h2>
                <div class="col-md-12">
              <h3>Купить в кредит в Digital Store онлайн за 15 мин.</h3>
                <ul>
                    <li>Вы желаете приобрести товар, но у Вас не хватает денежных средств?</li>
                    <li>Вам не хочется терять время на бумажную волокиту и простой в очередях?</li>
                    <li>Вы хотите оформить кредит, не выходя из дома или офиса?</li>
                  
                </ul>
                    <p>Digital TECH Групп совместно с ЗАО «Банк Русский Стандарт» (<a href="https://www.rsb.ru/credits/">подробнее об услуге</a>) предоставляет Вам уникальную возможность приобрести любой понравившийся товар в интернет-магазине в кредит, не отходя от компьютера!</p>

                    <h3>Как оформить кредит?</h3>
                    <p>Для оформления кредита не нужно ехать в банк, стоять в очередях, заполнять анкеты и ждать кредитное решение в душных офисах. Вам достаточно:</p>
                    <ul>
                        <li>1. Выбрать товары и поместить их в корзину (сумма покупки должна быть не менее 3000 рублей).</li>
                        <li>2. Выбрать «Способ оплаты» - «В кредит».</li>
                        <li>3. Подтвердить заказ и перейти по ссылке «Оформить кредит».</li>
                        <li>4. В появившейся анкете указать свои контакты.</li>
                    </ul>

                    <p>Или Вы можете просто оставить заказ менеджеру интернет-магазина по телефону</p>
                    <p>В ближайшее время с Вами свяжется сотрудник банка для уточнения персональных данных, на основе которых будет принято кредитное решение.</p>
                    <h3>Как подписать кредитный договор и получить товар?</h3>
                    <p>После принятия кредитного решения с Вами свяжется специалист Интернет-магазина для уточнения даты и времени доставки.<br />
В момент доставки Вам будет предложено ознакомиться с кредитным договором, а также подписать его.</p>
                    <ul>
                        После подписания кредитного договора Вам на руки выдаются:
                        <li>- приобретенный в кредит товар</li>
                        <li>- график платежей</li>
                        <li>- кредитный договор (заявление).</li>
                        <li>- бланки почтовых переводов</li>
                    </ul>

                    <h3>Как оплачивать кредит?</h3>
                    <ul>
                        <li>— <a href="https://www.rsb.ru/about/atms/">в приемных банкоматах,</a></li>
                        <li><a href="https://www.rsb.ru/about/branch/">— в подразделениях Банка,</a></li>
                        <li>— в бухгалтерии по месту работы,</li>
                        <li>— почтовым переводом,</li>
                        <li>— банковским переводом.</li>
                    </ul>
                    <p>Более подробную информацию о способах и местах оплаты Вы можете узнать по телефону 8-800-200-6-200 (звонок по России бесплатный) или на сайте www.rsb.ru</p>
                    <p>На правах рекламы ЗАО «Банк Русский Стандарт». Генеральная лицензия Банка России № 2289 выдана бессрочно 19 июля 2001 года.</p>
           
                </div>

                <hr />
                <div class="col-md-12">
                    <h3>Кредит с получением товара в магазине</h3>
                    <p>При оформлении кредита в магазине на выбор предлагается три банка: «ОТП Банк», «Банк Русский стандарт»- каждый предлагает несколько продуктов с разными условиями, детальную информацию по всем программам можно получить у продавцов-консультантов. </p>
                    <p>Для удобства уже сейчас вы можете получить предварительное одобрение кредита – в этом случае в магазине вам останется лишь выбрать подходящую кредитную программу.</p>
                    <p>Как получить предварительное одобрение</p>
                    <ul>
                        <li>1. 	При оформлении заказа нажмите кнопку «Купить в кредит».</li>
                        <li>2. 	Заполните стандартную анкету на получение кредита. Время рассмотрения анкеты банком – всего 1 минута!</li>
                        <li>3. 	Получив одобрение, приходите в выбранный при оформлении заказа магазин и обратитесь к продавцу-консультанту, он поможет с покупкой.</li>
                    </ul>
                </div>
                <p>Наши партнеры – ведущие российские банки, в портфеле которых различные кредитные программы, в том числе и рассрочка 0-0-24 и  0-0-10. Обратите внимание: рассрочка доступна не для всех товаров нашего ассортимента. Полный список товаров, а также детальные условия рассрочки можно уточнить у менеджеров магазина</p>
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/отп.png" />
                    </div>
                    <div class="col-md-3">

                        <img src="~/images/logo_rs_(1).gif" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/images/setilem.jpg" />

                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-sm-8">
                <ul>
                    <li>   •	ОАО «ОТП Банк» Генеральная лицензия Банка России № 2766 от 27.11.2014</li>
                    <li>                •	ООО «Сетелем Банк» Генеральная лицензия Банка России №2168 от 20.06.2007</li>
                </ul>
       
            </div>
            <div class="col-sm-4">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center" id="Credit0-0-OTP">Кредит 0-0-24 </h2>
                <div class="col-md-12">
                    <h3>Кредит 0-0-10 ОТП БАНК	</h3>
                    <img src="~/images/отп.png" />
                    <ul>
                        <li>Срок кредита:10 месяцев</li>
                        <li>Фиксированный первоначальный взнос: 0%</li>
                        <li>Процентная ставка годовых: 31,9%</li>
                        <li>Скидка Компании: до 15%</li>
                        <li>Валюта кредита: рубли РФ</li>
                        <li>Размер кредита: 2000 – 100 000 рублей</li>
                        <li>Схема погашения кредита: ежемесячно, равными долями</li>

                    </ul>
                    <h4>Подробное описание</h4>
                    <p>По данному кредитному продукту компания Digital STORE делает скидку до 15% в зависимости от стоимость товара, на приобретаемый в кредит товар, тем самым компенсируя Клиенту готовую процентную ставку по кредиту</p>
                    <b>Ежемесячные платежи – аннуитетние (одинаковые платежи на весь срок кредита)</b>

                    <h3>Минимальные требования к заемщику:</h3>
                    
                    <ul>
                        <li> 1.	Гражданство РФ (наличие действительного паспорта РФ)</li>
                        <li>2.	Возраст клиента с 21 до 69 лет включительно</li>
                        <li>3.	Наличие постоянной регистрации на территории РФ</li>
                        <li>4.	Наличие постоянного источника дохода (полная или частичная занятость – совокупный доход)</li>
                        <li>5.	Минимальный стаж на последнем месте работы 3 месяца</li>
                        <li>6.	Наличие контактного лица</li>
                        <li>7.	Наличие стационарного телефона</li>
                    </ul>

                    <p>Акция распространяется на все группы товара со знаком «Рассрочка».  Кредит предоставляет банк партнер АО «ОТП БАНК»(125171, г. Москва, Ленинградское шоссе, д 16а, стр.1, ОГРН 1027739176563, Генеральная лицензия Банка России № 2766 от 21 июня 2012 года). Банк оставляет за собой право отказать в предоставлении кредита без объяснения причин.
</p>
                </div>

                <hr />

              
            </div>
        </div>
    </div>
</div><!--/#contact-page-->

