@{
    ViewBag.Title = "Гаратия и условия возврата ";
    ViewBag.Ket = "Доставка ноутбуком и компьютеров, продажа компьютеров, купить компьютер, Доставка компьютеров Ульяновск";
    ViewBag.Descroption = "Большой ассортимент электроники, цифровой и компьютерной техники, а так же товаров для дома, известных брендов в интернет-магазине Digital STORE по отличным ценам. Гарантия и сервис. Доставка! Digital STORE";
}


<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Гарантия </h2>
                <div class="col-md-12">
     
                        <p style="font-size:20pt;">
                            Гарантийные обязательства: <br />
                            <ul style="padding:20px;">
                                <li style="padding:5px;"> 1.При продаже товара, клиенту выдается гарантийный талон. Данный талон должен хранится до истечении срока гарантии каждого из товаров. При потери или порче талона, его заменой может служить товарная накладная(ТОРГ-12) для юр. лиц, или же товарный чек. При отсутствие выше указанных документов, товар не принимается на гарантийный ремонт, так как невозможно  доказать факт покупки товара у данного Продавца.</li>
                                <li style="padding:5px;">2. При выявлении дефектов, неисправности или не стабильности в работе, Покупателю необходимо обратиться к Продавцу со всем комплектом документов, заполнить совместно с продавцом «Сервисный талон» (бланк можно скачать <a href="http://digitltech.ru/service/clients/doc">http://digitltech.ru/service/clients/doc </a>  либо бланк предоставит продавец)  и отправить по адресу admin@digitltech.ru вмести со сканом документов подтверждающих факт покупки, предоставить полную комплектацию изделия в соответствии с инструкцией по эксплуатации.  Возврат денег или замена на новый  осуществляется на весь период его гарантийного срока при обнаружении в нем дефектов, заводского брака или несовместимость поставляемых комплектующих при подтверждении одного из выше указанных недостатком официальным заключением сервисного центра, рекомендованным производителем данного изделия. </li>
                                <li style="padding:5px;">3. Возврат денежных средств за не качественный товар осуществляется при подтверждении официальным сервисным центром (рекомендованным заводом изготовителем) не возможности его ремонта, дальнейшей эксплуатации или же заводским браком. Если завод изготовитель одного из товаров отзывает партию при обнаружении скрытых дефектов, Продавец в течении 10 дней уведомляет  Покупателя об этом прикрепив официальное письмо с завода изготовителя, и производит возврат денежных средств в полном объеме за некачественны товар. </li>
                                <li style="padding:5px;">
                                    4. гарантия не распространяется на изделия, в которых дефект возник в результате:<br />нарушения инструкции по эксплуатации;<br />
                                    механических повреждений, причиненных клиентом;<br />
                                    стихийных бедствий;<br /> повреждений, вызванных водой; <br />
                                    повреждений, возникших в результате нестабильности электросети (резких перепадов силы тока и напряжения); <br />
                                    проникновения посторонних предметов, жидкостей, насекомых внутрь изделия;<br />
                                    ремонта, регулировки, разборки или вскрытия изделия и внесения конструктивных изменений лицами, не уполномоченными изготовителем, исходя из условий безопасности работы изделия.
                                </li>
                                <li style="padding:5px;">5. Гарантийный ремонт осуществляется только специализированным сервисным центром (рекомендованным производителем) в установленные законом сроке. Для выявлении причин неполадки Продавец вправе отдать товар  на диагностику в сервисный центр для подтверждении факта неисправности на срок не более 14 дней. При выявлении факта ремонта изделия самостоятельно либо не в специализированном сервисном центе, данное изделии в дальнейшим не подлежит гарантийному ремонту либо замене. </li>
                                <li style="padding:5px;">6.При отсутствие видимых дефектов, скрытого брака, нестабильной работе или иной неисправности подтвержденной сервисным центром, Технически сложные товары бытового назначения возврату и обмену не подлежит ( Согласно Перечню непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации в ПОСТАНОВЛЕНИЕ  ПРАВИТЕЛЬСТВО РОССИЙСКОЙ ФЕДЕРАЦИИ от 19 января 1998 г. N 55) </li>
                            </ul>

                        </p>
                   
                </div>

                <hr />
           
            </div>
        </div>
   
    </div>
</div><!--/#contact-page-->