@{
    ViewBag.Title = "Заказать в интернет магазине";
    ViewBag.Ket = "Купить ноутбук и компьютер, продажа компьютеров, купить компьютер, Заказать компьютеров Ульяновск";
    ViewBag.Descroption = "Большой ассортимент электроники, цифровой и компьютерной техники, а так же товаров для дома, известных брендов в интернет-магазине Digital STORE по отличным ценам. Гарантия и сервис. Доставка! Digital STORE";
}


<div id="contact-page" class="container" >
    <div class="bg">
        <div class="row" style="padding:0 20px;">
            <div class="col-sm-12">
                <h2 class="title text-center">Как заказать </h2>
                <div class="col-md-12">

                 <p class="text-center">Чтобы заказать понравившийся Вам товар, необходимо выполнить ряд  действий:</p>

                    
                    <img src="~/images/seraya-ruka-strelka-vniz.png" height="80" style="padding: 0 50%"/>
                    <p class="text-center">Выберете понравившийся Вам товар</p>
                    
                    <img src="~/images/foto_tovara.png" />
                    <img src="~/images/seraya-ruka-strelka-vniz.png" height="80" style="padding: 0 50%" /> 
                    <p class="text-center">Оформите заказ через корзину, либо воспользовавшись кнопкой быстрый заказ.</p>

                    <img src="~/images/foto_knopki.png" />

                    <img src="~/images/seraya-ruka-strelka-vniz.png" height="80" style="padding: 0 50%" />
                    <p class="text-center">Укажите свои точные контактные данные в форме заказа</p>
                    
                    <img src="~/images/foto_zakaz.png" />				
                    <p class="text-center">Это необходимо для того, чтобы мы могли связаться с вами.
                    Обращаем Ваше внимание, согласно «ФЗ О Защите персональных данных» мы не передаем ваши данные третьим лицам, и храним их на защищенных серверах нашей компании, а также не используем эти данные для спам рассылок.</p>

                    <img src="~/images/seraya-ruka-strelka-vniz.png" height="80" style="padding: 0 50%" />
                    <p>Укажите способ оплаты заказа. С возможными вариантами оплаты заказа ,Вы можете ознакомиться на странице.
                    Согласно правилам работы нашего магазина, в зависимости от остатка товара на центральном складе, будут ограничены виды оплаты.
                    Отгрузка товара осуществляется только при 100% оплате заказ, или при подписании кредитного договора (в данном случает оплатой считается фактический день поступления денежных средств на р/с продавца). При доставки в регионы РФ клиенту также необходимо оплатить полную стоимость доставки. Клиент может отказаться от покупке до моменты оплаты заказа или подписание кредитного договора, в этом случае заказ аннулируются.
                    При отсутствие доставки , а также доступности товара на складе , покупатель может оплатить заказ на сайте или оформить кредит, сразу после оформления заказа.
</p>
                   
                    <p class="text-center">Выбор способа оплаты несет информационный характер. Клиент так же вправе изменить условия оплаты заказа, при наличии такой возможности.
                    Если выбранный товар есть в наличии в одном из магазинов компании, клиент вправе оплатить товар в момент доставки  товара курьеру, а также в магазине, в этом случае товар отгружается без предоплаты.
</p>
                    <img src="~/images/seraya-ruka-strelka-vniz.png" height="80" style="padding: 0 50%" />
                    <p class="text-center">После оформление заказа в течении часа с Вами свяжется наш менеджер отдела продаж для уточнения способа доставки и оплаты.</p>
                    <img src="~/images/seraya-ruka-strelka-vniz.png" height="80" style="padding: 0 50%" />
                    <p class="text-center">После оплаты или подписание кредитного договора на Ваше имя отгружается выбранный Вами товар  и формируется заявка на доставку(в случае если это необходимо).</p>
                    <img src="~/images/seraya-ruka-strelka-vniz.png" height="80" style="padding: 0 50%" />
                    <p class="text-center">Курьер привозит Вам товар, вы подписываете акт приема передачи товара а также ознакомляетесь с условиями гарантии, проверяет на месте работоспособность а так же отсутствие видимых дефектов.  Приятного использования</p>
                   
                     <h2 class="text-center">Спасибо за покупку.</h2>


                </div>

                <hr />

            </div>
        </div>

    </div>
</div>