@{
    ViewBag.Title = "Условия возврата ";
    ViewBag.Ket = "Доставка ноутбуком и компьютеров, продажа компьютеров, купить компьютер, Доставка компьютеров Ульяновск";
    ViewBag.Descroption = "Большой ассортимент электроники, цифровой и компьютерной техники, а так же товаров для дома, известных брендов в интернет-магазине Digital STORE по отличным ценам. Гарантия и сервис. Доставка! Digital STORE";
}



<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Условия возврата </h2>
                <div class="col-md-12">
                    <p style="font-size:20pt;">Возврат товара</p>
                    <p>
                        <ul style="padding:20px;">
                            При покупке товара в магазине требуется:
                            <li style="padding:5px;">Сам товар, который хотете вернуть</li>
                            <li style="padding:5px;">Упаковка товара, все ярлыки, бирки вся - комплектация согласно инструкциии;</li>
                            <li style="padding:5px;"><a href="http://dl-store.ru/Files/blank_vozvrat.doc">Заявление на возврат</a></li>
                            <li style="padding:5px;"> Копия документа потверждающий факт оплаты (по возможности)</li>
                            <li style="padding:5px;">Копия товарного чека или акта приема-передачи а так же гарантийный талон</li>
                            <li style="padding:5px;"> Весь комплект документов необходимо предоставить по <a href="акта приема-передачи">адресу</a>  </li>
                        </ul>
                    </p>
                    <p>
                        <ul style="padding:20px;">
                            При покупке товара в интернет магазине на территории Россиии требуется :
                            <li style="padding:5px;">Сам товар, который хотете вернуть(его необходимо отправить почтовой посылкой либо транспортной компанией по адресу: 432067 г. Ульяновск пр. Столыпина 21-79 )</li>
                            <li style="padding:5px;">Упаковка товара, все ярлыки, бирки вся - комплектация согласно инструкциии;</li>
                            <li style="padding:5px;"><a href="http://dl-store.ru/Files/blank_vozvrat.doc">Заявление на возврат</a></li>
                            <li style="padding:5px;"> Копия документа потверждающий факт оплаты (по возможности)</li>
                            <li style="padding:5px;">Копия товарного чека или акта приема-передачи а так же гарантийный талон</li>
                            <li style="padding:5px;">Копия кассового чека Почты России, подтверждающего расходы по обратной пересылке</li>
                        </ul>
                    </p>
                </div>

                <hr />

            </div>
        </div>

    </div>
</div><!--/#contact-page-->